log/
xhtml/
packages/
obj/
_site/
Tools/NuGet/
.optemp/
.vscode/

.openpublishing.build.mdproj
.openpublishing.buildcore.ps1
packages.config
Skype/WebSDK/node_modules/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
/Skype/Trusted-Application-API/samples/QuickStartSamples/.vs/RemoteAdvisorSample/v14/.suo
/Skype/Trusted-Application-API/samples/QuickStartSamples/.vs/QuickStartSamples/v14/.suo
/Skype/Trusted-Application-API/SDK/.vs/PlatformSDK/v14/.suo
/Skype/Trusted-Application-API/SDK/.vs/config/applicationhost.config
*.suo
